<toolbar [isLight]="themer.isLight"
         (theme)="themer.toggleTheme()"></toolbar>
<ng-template #loading>
  <mat-progress-bar mode="indeterminant"
                    color="accent"></mat-progress-bar>
</ng-template>
<ng-container *ngIf="content.folder$ | async as folder else loading">
  <section fxLayout="row"
           fxLayoutAlign="start stretch"
           [style.height.%]="100">
    <section fxLayout="column"
             fxLayoutAlign="start stretch"
             class="px4 pb8 mr4"
             [style.margin-bottom.px]="64">
      <section *ngIf="expanded"
               [style.min-width.px]="256">
        <sidemenu [folder]="folder"
                  [navDisabled]="!(folder?.breadcrumbs?.length > 0)"
                  [homeDisabled]="!(folder?.breadcrumbs?.length > 0)"
                  (navigate)="navigateUp($event)"></sidemenu>
        <section class="p8">
          <folder [folder]="folder"
                  [size]="10"
                  (documentSelected)="selectDocument($event)"
                  (folderSelected)="selectFolder($event)"></folder>
        </section>
      </section>
      <span fxFlex></span>
      <toggle fxFlexAlign="end"
              [active]="expanded"
              (toggle)="toggleExpanded()"></toggle>
    </section>
    <ng-container *ngIf="markdown">
      <section [innerHtml]="markdown"
               class="p4 pt12 overflow"
               fxFlex
               [style.margin-bottom.px]="64"></section>
    </ng-container>
    <p *ngIf="!(markdown)">Select a Markdown document to render!</p>
  </section>
</ng-container>
