<mat-toolbar color="primary"
             [style.margin-bottom.px]="12">
  <span fxFlex>Documentation</span>
  <button mat-icon-button
          (click)="themer.toggleTheme()">
    <mat-icon *ngIf="themer.isLight"
              color="accent">brightness_5</mat-icon>
    <mat-icon *ngIf="!(themer.isLight)">brightness_3</mat-icon>
  </button>
</mat-toolbar>
<ng-template #loading>
  <p>Loading...</p>
</ng-template>
<ng-container *ngIf="content.folder$ | async as folder else loading">
  <mat-chip-list>
    <mat-chip class="clickable"
              routerLink="/">home</mat-chip>
    <ng-container *ngIf="folder.breadcrumbs">
      <mat-chip *ngFor="let b of folder.breadcrumbs"
                class="clickable"
                routerLink="/{{b}}">
        {{b}}
      </mat-chip>
    </ng-container>
  </mat-chip-list>
  <section fxLayout="row"
           fxLayoutAlign="start stretch"
           class="p4">
    <folder [folder]="folder"
            [showSelf]="false"
            (documentSelected)="selectDocument($event)"
            (folderSelected)="selectFolder($event)"></folder>
    <section fxFlex>
      <ng-container *ngIf="markdown">
        <section [innerHtml]="markdown"></section>
      </ng-container>
      <p *ngIf="!(markdown)">Select a Markdown document to render!</p>
    </section>
  </section>
</ng-container>
