<section [style.margin.px]="margin">
  <span class="label label-rounded p-1"
        *ngIf="showSelf"
        (click)="folderSelected.emit(folder)">{{folder?.name}}</span>
  <section *ngIf="folder?.documents?.length > 0 || folder?.folders?.length > 0"
           [style.margin-left.px]="margin">
    <ng-container *ngIf="folder?.folders?.length > 0">
      <folder *ngFor="let f of folder.folders"
              [folder]="f"
              (documentSelected)="documentSelected.emit($event)"
              (folderSelected)="folderSelected.emit($event)"></folder>
    </ng-container>
    <ng-container *ngIf="folder?.documents?.length > 0">
      <section *ngFor="let d of folder.documents"
               [style.margin.px]="margin">
        <span class="label label-rounded label-primary p-1 c-hand"
              (click)="documentSelected.emit(d)">{{d.name}}</span>
      </section>
    </ng-container>
  </section>
</section>
