<section [style.margin.px]="size">
  <span *ngIf="showSelf"
        class="cursor-pointer mat-body-strong"
        (click)="folderSelected.emit(folder)">{{folder?.name}}</span>
  <section *ngIf="folder?.documents?.length > 0 || folder?.folders?.length > 0">
    <ng-container *ngIf="folder?.documents?.length > 0">
      <section *ngFor="let d of folder.documents">
        <span class="label label-rounded label-primary p-1 c-hand cursor-pointer"
              [style.margin.px]="size"
              (click)="documentSelected.emit(d)">{{d.name}}</span>
      </section>
    </ng-container>
    <ng-container *ngIf="folder?.folders?.length > 0">
      <folder *ngFor="let f of folder.folders"
              [folder]="f"
              [size]="10"
              (documentSelected)="documentSelected.emit($event)"
              (folderSelected)="folderSelected.emit($event)"></folder>
    </ng-container>
  </section>
</section>
